html.reveal aside {
  display: none; }
html.reveal pre {
  font-size: 20px;
  padding: 10px; }
html.reveal .example-centered {
  text-align: center; }
html.reveal .example {
  font-size: 20px;
  border: 1px solid #888888;
  padding: 20px 10px;
  width: 90%;
  margin: 15px auto;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }
html.reveal .logo a {
  border: none; }
html.reveal .logo img {
  border: none;
  width: 50%;
  box-shadow: none; }
html.reveal .logo.smaller img {
  width: 40%; }
html.reveal .slides > section {
  padding-top: 0; }
